* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  display: flex;
  border: 1px solid black;
}

#grid {
  flex-direction: column;
  border: none;
}

.raw {
  display: flex;
}

.cell {
  display: flex;
  border-bottom: none;
}

#btn {
  margin: 30px;
  padding: 10px;
  font-size: 16px;
}

#btndiv {
  width: 100%;
  border: none;
}